<div class="container-fluid" id="headerId">
    <div class="headerId">
        <p class="headerClass"><strong>Language assistant.</strong></p>
    </div>
        <ul class="col-lg-8 col-lg-offset-4 nav nav-pills">
            <li><a href="http://localhost:8080/my-app/pages/index.html#/">Home</a></li>
            <li><a href="http://localhost:8080/my-app/pages/index.html#/test">Test grammar</a></li>
            <li><a href="#">Learn songs</a></li>
            <li><a href="#">Tips</a></li>
        </ul>
        <hr/>
</div>

